tensorflow == 2.19.0
pandas == 2.2.3
matplotlib == 3.10.1
scikit-learn == 1.6.1
pillow == 11.2.1
mlflow == 2.21.3
scikit-image == 0.25.2
lime == 0.2.0.1
streamlit == 1.44.1
shap == 0.47.2
opencv-python == 4.11.0.86
seaborn == 0.13.2
streamlit-webrtc == 0.62.4
ipykernel
